<div class="movie-container">
  
    <div class="add-movie">
      <input type="text" [(ngModel)]="newMovieTitle" placeholder="Título de la película" />
      <input type="number" [(ngModel)]="newMovieYear" placeholder="Año de la película" />
      <input type="file" (change)="onFileSelected($event)" />
      <button (click)="addMovie()">Agregar Película</button>
    </div>

    <div class="movie-grid">
      <div class="movie-card" *ngFor="let movie of movies">
        <img [src]="movie.image || 'assets/default-movie.jpg'" alt="Poster de {{ movie.title }}" />
        <div class="movie-info">
          <h3>{{ movie.title }}</h3>
          <p>{{ movie.year }}</p>
          <button (click)="deleteMovie(movie.id)">Eliminar</button>
        </div>
      </div>
    </div>
</div> 