body {
  background-color: rgb(6, 6, 6);
}

.add-movie {
  margin-left: 20%;
  width: 60%;
  border: 1px white solid;
  border-radius: 5px;
  text-align: center;
}

input {
  width: 70%;
  margin-top: 20px;
}

button {
  cursor: pointer;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: azure;
  font-weight: 400;
  background-color: rgb(176, 20, 20);
  border-radius: 10px;
  border: 1px white solid;
  padding: 10px 5px;
}
  
ul {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}
  
li {
  margin-bottom: 10px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 15%;
  margin-top: 10px;
}

.movie-card {
  max-width: 100%;
  background-color: rgb(23, 22, 22);
  border-radius: 10px;
  color: beige;
  text-align: center;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h3 {
  margin: 2px;
  text-transform: uppercase;
}

p {
  margin: 2px;
}

@media (min-width: 550px) and (max-width: 960px) {
  .add-movie {
    margin-left: 30%;
    width: 40%;
  }
  
  input {
    width: 70%;
  }

  button {
    width: 56%;
  }
  
  .movie-grid {
    padding: 8%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 960px) {
  .add-movie {
    margin-left: 37%;
    width: 26%;
  }
  
  .movie-grid {
    padding: 5%;
    grid-template-columns: repeat(4, 1fr);
  }
}